[html]
page_title = Change your password on example.org

[ldap:0]
host = localhost
port = 636
use_ssl = true
base = ou=People,dc=example,dc=org
search_filter = uid={uid}

# Uncomment for AD / Samba 4
#type = ad
#ad_domain = ad.example.org
#search_filter = sAMAccountName={uid}

# You may specify multiple LDAPs, the password will be changed in all.
# If one fails, the previous password changes are reverted.
#[ldap:1]
#host = localhost
#base = ou=People,dc=example,dc=org
#search_filter = uid={uid}

[server]
server = auto
host = localhost
port = 8080
